.developpement {
    height: 50vh;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 0.5rem;
}

@media only screen and (min-width: 800px) {

    .developpement {
        height: 50vh;
        background-color: lightgray;
        border: 2px solid black;
        border-radius: 0.5rem;
        margin-top: 5vh;
        margin-left: 15vh;
        margin-right: 15vh;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        grid-auto-flow: column;
    }

    .developpement > .gauche {
        display: flex;
        justify-content: center;
    }

    .developpement > .droite {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
    }

    .droite > h1 {
        width: 100%;
        padding-bottom: 5%;
    }

    .droite > p {
        width: 100%;
    }

}