body {
    text-align: center;
    margin: 0;
    background-color: rgb(255 251 235);
}

.pageTitle {
    margin-bottom: 5vh;
}

button {
    background-color: rgb(216 180 254);
    border: 2px solid rgb(126 34 206);
}

@media only screen and (min-width: 800px) {

    .pageTitle {
        text-align: center;
        display: table;
        width: 50%;
        height: 10vh;
        background-color: rgb(216 180 254);
        border-radius: 1rem;
        margin-top: 5vh;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 0;
    }

    .pageTitle > h1 {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .corps {
        height: 65vh;
    }

    .entete {
        margin-top: 10vh;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }
}