.pays {
    background-color: rgb(216 180 254);
    border: 2px solid rgb(126 34 206);
    border-radius: 0.5rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.pays > .gauche {
    display: flex;
    justify-content: center;
}

img {
    height: 25vh;
}

.pays > .droite {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.droite > h1 {
    width: 100%;
    padding-bottom: 5%;
}

.droite > p {
    width: 100%;
}

@media only screen and (min-width: 800px) {

    .pays {
        height: 50vh;
        background-color: rgb(216 180 254);
        border: 2px solid rgb(126 34 206);
        border-radius: 0.5rem;
        margin-top: 5vh;
        margin-left: 15vh;
        margin-right: 15vh;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        grid-auto-flow: column;
    }

    .pays > .gauche {
        display: flex;
        justify-content: center;
    }

    img {
        height: auto;
    }

    .pays > .droite {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
    }

    .droite > h1 {
        width: 100%;
        padding-bottom: 5%;
    }

    .droite > p {
        width: 100%;
    }

}