.presentation {
    text-align: center;
    height: 65vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 15vh;
    margin-bottom: 25vh;
    display: grid;
    grid-template-columns: 55% 45%;
}

.bigtext {
    margin: auto;
}

.bigtext > div{
    margin: auto;
}


.bigtext a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.photo {
    display: flex;
    justify-content: center;
}

.image {
    max-height: 65vh;
}

.aboutme {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25vh;
}

.aboutme > h2 {
    margin-bottom: 5vh;
}

.espace-boutons {
    margin-bottom: 25vh;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    justify-content: space-around;
}

.espace-boutons > a > button {
    width: 100%;
    height: 100%;
    background-color: lightgray; /* Green */
    border: 2px solid black;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.espace-boutons a {
    width: 20%;
    height: 5vh;
    text-decoration: none;
    color: black;
}


.redirection {
    border: 2px solid black;
    height: 33vh;
    margin-bottom: 2vh;
}